/* common css styles start */


  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
  
}
section{
    margin-bottom: 8%;
}


/* common css styles end */

/* banner style start */

.banner{
    overflow: hidden;
    background-image: url("resources/Banner\ Image.png"), linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: overlay;
    width: 75%;
    height: 100vh;
    border-radius: 16px;
    margin: 0 auto;
    
    
}

.banner .banner-description{   
    color: white;
    text-align: center;
    padding-top: 20%;
    
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */

}
.header-2{
    font-size: 32px;
    font-weight: 400;
}
.header-1{
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}


/* banner style end */

/* 65% off styles start */

.off{
    color: #f00;
    text-align: center;
    font-family: Inter;
    padding-top: 10% ;
}
.off h1{
    font-size: 88px;
    font-weight: 700;
}
.off p{
    font-size: 24px;
    font-weight: 500;
    padding-top: 3% ;
}
/* 65% off styles end */

/* all categories styles start */

.all-categories{
    text-align: center;
    font-family: Inter;

}
.all-categories h1{
    font-size: 48px;
    font-weight: 700;
    padding: 3% 0;
}



/* all categories styles end */

/* welcome to styles start */

.welcome-to{
    background-image: url("resources/Vectorrr.png"),  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    border-radius: 2%;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    color: #fff;
}
.welcome-to h1{  
    padding: 12% 0 0 8%;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04;
    font-family: 'Merriweather';
}
.welcome-to p{
    color: rgba(255, 255, 255, 0.80);
    padding: 2% 0 2% 8%;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.welcome-to h5{
    padding: 2% 0 0 12%;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}
/* welcome to styles end */


/* place, date, time styles start */
.place-date{
    background-image:  linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);

    width: 75% ;
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    padding: 10% 0;
    margin: 0 auto;
}
.place-date h1{
    padding-bottom: 2%;
}
.place-date span{
    color: #f00;
}
.place-date button{
    color: #fff;
    background-color: #f00;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

/* place, date, time styles end */

/* new best offer styles start */
.new-best-container{
    display: flex;
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    gap: 4%;
    padding-left: 1%;
    align-items: center;
    background-color: aquamarine;
}
.new-best-container h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
   
}
.new-best-container h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding: 2% 0;
}
.new-best-container p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.new-best-container h2{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}
/* .new-best-container img{
    display: block;
    padding: 30% 0;
    border-radius: 5%;
    border-color: #F00;
} */

.new-best-container circle-img{
    display: block;
    border-color: #F00;
    border-radius: 5px;
    width: 100%;
}
/* new best offer styles end */

/* what is functional styles start */

.what-is-function{
    width: 75%;
    text-align: center;
    margin: 0 auto;

}
.what-is-function h4{
        color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.what-is-function h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}

.what-is-function h1 span{
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.what-is-function p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

/* img */

.images-width{
    background-image: url("resources/Group\ 75.png"),url("resources/Rectangle\ 1.png"),url("resources/Rectangle\ 2.png");
    /* background-image: url("resources/Rectangle\ 1.png"); */
    background-repeat: no-repeat;
    background-position: bottom left, top right, bottom;
    margin: 0 auto;
    width: 75%;
    height: 100vh;
    padding: 0 10px;
}

/* what is functional styles  */

/* the best gift styles start */
.best-gift{
    width: 75%;
    height: 100vh;
    margin: 0 auto;
}
.best-gift h2{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.best-gift h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.best-gift p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

/* the best gift styles end */

/* grid layout styles start */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin: 0 auto;
    padding: ;


}
.grid-container *img{
     width: 100%;
}
.grid-item{

}


/* grid layout styles end */